body {
font-size: 1.2em;
font-family: "Palatino Linotype", "Palatino", "Times New Roman",
             "Microsoft JhengHei", "Microsoft YaHei Light", "Apple LiSung Light";
color: black;
background-color: lightgray;
text-align: center;
}

a {
line-height: 1.5em;
letter-spacing: 1px;
text-decoration: none;
color: black;
}
a:hover {
text-decoration: underline;
color: brown;
}

.b {
display: block;
text-align: center;
vertical-align: top;
text-align: left;
vertical-align: top;
/*background-color: #ECE9D8;*/
border: 1px solid gray;
border-radius: 4px;
width: 30em;
min-width: 30em;
max-width: 30em;
overflow: hidden;
margin: .5em auto .5em auto;
}

.t {
display: table-cell;
font-size: 1.3em;
font-weight: bold;
letter-spacing: 1.5px;
color: lightgray;
background-color: black;
background-image: linear-gradient(45deg, rgb(64,64,64), rgb(96,96,96));
text-align: center;
vertical-align: middle;
line-height: 1em;
width: 10em;
min-width: 10em;
max-width: 10em;
}

img {
filter: opacity(50%) invert(100%);
margin-bottom: .25em;
}

.l {
display: table-cell;
font-size: 1em;
text-align: left;
background-color: #EFEFEF;
height: auto;
width: 100%;
margin: 0;
padding: .5em .75em .5em .75em;
}

input {
font-family: "Consolas";
font-size: 1.2em;
color: brown;
background-color: transparent;
border: 1px dotted gray;
margin: 0 auto 0 auto;
padding: 0;
width: 100%;
}

iframe {
display: block;
margin: 0 auto 0 auto;
width: 560;
height: 315;
border: none;
overflow: hidden;
}